.myBtn {
  border-radius: 48px;
  background: rgba(255, 255, 255, 0);
  box-shadow: -8px -8px 16px 0px #fff, 9.6px 9.6px 19.2px 0px #d2dce9;
  align-items: center;

  color: #0196e3;
  font-size: 15px;
  font-weight: 400;

  padding: 15px;
  margin: 15px;
}
