.myInput {
  width: 100%;
  padding: 16px 32px;
  margin: 16px 0;
  justify-content: center;
  align-items: center;

  border-radius: 48px;
  background: #edeff3;
  box-shadow: 1px 1px 2px 0px #d2dce9 inset;

  font-size: 15px;
  font-weight: 700;
}
.myInput::placeholder {
  color: #36187d;
  font-size: 15px;
  font-weight: 400;
}
